{{#> home}}
{{#*inline "content-block"}}
<div class="container">
  <div class="search">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-sm btn-primary" type="button">Search</button>
  </div>
  <div id="users-list">
    {{> usersList}}
  </div>
</div>
{{/inline}}
{{/home}}